# Compiled source
*.class
target/

# App Engine
appengine-generated/

# Eclipse
.classpath
.project
.settings/
eclipse-launch-profiles/
appengine-generated/

# Netbeans
nbactions.xml
LICENSE
test/**
*~
*#

# Intellij
*.iml
.idea/

# Others
*.orig
bower_components/*
node_modules/*
